<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="remotingFolder" value="/Test"/>
    <add key="localFolder" value="E:\\test"/>
    <add key="ftpServer" value="127.0.0.1"/>
    <add key="user" value="ftpuser"/>
    <add key="pwd" value="ftpuser"/>
    <add key="port" value="21"/>
  </appSettings>
</configuration>