<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="phoneVersion" value="移动协同 6.1.0 (iPhone; iOS 10.1.1; zh_CN)"/>
    <add key="deviceCode" value="[iPhone]:ljyiPhone|5FFF9086-8C41-43E9-BF21-F84E28639F58"/>
    <add key="protocolType" value="iPhone"/>
    <add key="userName" value="Ono40dqc3nc8WSDHQbNEk2+tPeYEGggn"/>
    <add key="password" value="Ono40dqc3nfyduEVEdDQNA=="/>
    <add key="token" value="1857015855829ead6de1b3161ea84cb4e21291c42e5afe7a5cfdb7e786a504ee"/>
    <add key="lbsCountry" value="中国"/>
    <add key="lbsProvince" value="江苏省"/>
    <add key="lbsCity" value="南京市"/>
    <add key ="lbsAddress" value="江苏省南京市雨花台区小行路158号(南京市公安局地铁分局后面)理想家青年公寓"/>
    <add key="lbsStreet" value="小行路158号(南京市公安局地铁分局后面)"/>
    <add key="lbsDimensionality" value="31.977808"/>
    <add key="lbsLongitude" value="118.739888"/>
    <add key="MorningStartTime" value="08:45"/>
    <add key="MorningEndTime" value="09:00"/>
    <add key="AfternoonStartTime" value="18:30"/>
    <add key="AfternoonEndTime" value="21:00"/>-->

    <add key="phoneVersion" value="M1/1.1"/>
    <add key="deviceCode" value="861891034154732"/>
    <add key="protocolType" value="android"/>
    <add key="userName" value="RWMxSF4FSw3ItVJ9PgbkekicLakTbFHOBWd5BybpiGw="/>
    <add key="password" value="tgTH7PJrE/oemaT9AKvN4Q=="/>
    <add key="token" value=""/>
    <add key="lbsCountry" value="中国"/>
    <add key="lbsProvince" value="江苏省"/>
    <add key="lbsCity" value="南京市"/>
    <add key ="lbsAddress" value="江苏省南京市雨花台区小行路158号(南京市公安局地铁分局后面)理想家青年公寓"/>
    <add key="lbsStreet" value="小行路158号(南京市公安局地铁分局后面)"/>
    <add key="lbsDimensionality" value="31.977808"/>
    <add key="lbsLongitude" value="118.739888"/>
    <add key="MorningStartTime" value="08:45"/>
    <add key="MorningEndTime" value="09:00"/>
    <add key="AfternoonStartTime" value="18:30"/>
    <add key="AfternoonEndTime" value="21:00"/>
  </appSettings>
</configuration>